

<div class="container">

    <div class="row mb-3">

        <div class="col-12 text-center">
            <h1>PRODUTOS</h1>
        </div>
        
    </div>

    <div class="row">

        <div class="col-3">
            
            <div class="container-fluid" style="height: 40px;background-color: black;">

                <div class="row align-items-center" style="height: 100%;">

                    <div class="col-6">
                        <b style="color: white;">Filtros</b>
                    </div>

                    <div class="col-6 text-right">
                        <b style="color: white;font-size: 13px;text-decoration: underline;cursor: pointer;" (click)="addTest()">Aplicar</b>
                    </div>

                </div>

            </div>


        </div>

        <div class="col-9">

            <div class="container-fluid" >

                <div class="row" >

                    <div class="col-4 py-3 card-fotos text-center" *ngFor="let produto of produtosExibidos;">
                        
                        <img class="foto mb-3" [src]="produto.foto" alt="foto"><br>

                        <b>{{produto.nome}}</b><br>

                        <b>R$ {{produto.preco}}</b><br>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
