

.card-fotos {

    /* background-color: rgb(243, 243, 243); */
    height: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    cursor: zoom-in;
    border-radius: 5px;

}

.card-fotos:hover {

    outline: solid 0.2px rgb(207, 207, 207);
}

.foto {

    height: 200px;
    width: auto;

}



.filtro-superior {
    height: 40px;
    background-color: black;
}

.filtro-inferior {
    background-color: rgb(243, 243, 243);
}



.filtro-opcao {
    cursor: pointer;
    color: black;
}

.filtro-opcao:hover {
    text-decoration: underline;
}