

<div class="container-fluid p-0 mb-5">

    <carousel [isAnimated]="true">
        <slide>
            <img src="../../../assets/roll_1.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/roll_2.jpg" alt="second slide" style="display: block; width: 100%;">
        </slide>
    </carousel>

</div>


<div id="produtos" class="container">

    <div class="row mb-3">

        <div class="col-12 text-center">
            <h1 class="d-none d-md-inline">PRODUTOS</h1>
            <h2 class="d-inline d-md-none">PRODUTOS</h2>
        </div>
        
    </div>

    <div class="row">

        <!-- FILTROS -->
        <div class="col-0 col-lg-3 d-none d-lg-inline">
            
            <!-- PARTE DE CIMA DO FILTRO -->
            <div class="container-fluid filtro-superior">

                <div class="row align-items-center" style="height: 100%;">

                    <div class="col-6">
                        <b style="color: white;">FILTROS</b>
                    </div>

                    <div class="col-6 text-right">
                        <b *ngIf="tipo.value != '' || modelo.value != '' || cor.value != '' || numero.value != '' " style="color: white;font-size: 13px;text-decoration: underline;cursor: pointer;" (click)="limparFiltros()">Limpar</b>
                    </div>

                </div>

            </div>

            <!-- PARTE DE BAIXO DO FILTRO -->
            <div class="container-fluid filtro-inferior">

                <form [formGroup]="filtrosForm" >
            
                    <div class="row py-2">

                        <div class="col-12">

                            <span>
                                <b style="color: black;font-size: 14px;">CATEGORIA</b>
                            </span><br>

                            <span>
                                <a class="filtro-opcao" (click)="filtrarTipo('lancamentos')">
                                    <input type="radio" id="lancamentos" value="lancamentos" formControlName="tipo" /> Lançamentos
                                </a>
                            </span><br>

                            <span>
                                <a class="filtro-opcao" (click)="filtrarTipo('promocoes')">
                                    <input type="radio" id="promocoes" value="promocoes" formControlName="tipo" /> Promoções
                                </a>
                            </span>
                        
                        </div>

                    </div>

                    <div class="row py-2">
                        
                        <div class="col-12">

                            <span>
                                <b style="color: black;font-size: 14px;">TIPO</b>
                            </span><br>

                            <span *ngFor="let modelo of arrayModelosFiltros">
                                <a class="filtro-opcao" (click)="filtrarModelo( modelo )" >
                                    <input type="radio"  [value]="modelo" formControlName="modelo" /> {{modelo}}
                                </a><br>
                            </span>

                        </div>

                    </div>

                    <div class="row py-2">
                        
                        <div class="col-12">
                            
                            <span>
                                <b style="color: black;font-size: 14px;">COR</b>
                            </span><br>
                            
                            <span *ngFor="let cor of arrayCoresFiltros">
                                <a class="filtro-opcao" (click)="filtrarCor( cor )">
                                    <input type="radio"  [value]="cor" formControlName="cor" /> {{cor}}
                                </a><br>
                            </span>

                        </div>

                    </div>

                    <div class="row py-2">

                        <div class="col-12">

                            <span>
                                <b style="color: black;font-size: 14px;">TAMANHO</b>
                            </span><br>

                            <span *ngFor="let numero of arrayNumerosFiltros">
                                <a class="filtro-opcao" (click)="filtrarNumero( numero )">
                                    <input type="radio"  [value]="numero" formControlName="numero"/> {{numero}}
                                </a><br>
                            </span>

                        </div>
                    
                    </div>
                                      
                </form>  

            </div>

            <!-- {{filtrosForm.value | json}} -->

        </div>


        <!-- PRODUTOS -->
        <div class="col-12 col-lg-9 p-0">

            <div class="container-fluid" >

                <!-- BARRA SUPERIROR DE INFORMAÇÕES -->
                <div class="row barra-informações mb-1 align-items-center">

                    <div class="col-4 d-none d-md-inline">
                        <b>{{produtosExibidos.length}}</b>&nbsp;produtos encontrados.
                    </div>
                    
                    <div class="col-6 col-md-4">
                        <span class="d-inline d-lg-none">Filtros</span>
                    </div>
                    
                    <div class="col-4 d-none d-md-inline">
                        Ordenar Por:
                    </div>
                    <div class="col-6 d-inline d-md-none text-right">
                        Ordenar
                    </div>

                </div>

                <!-- PRODUTOS -->
                <div class="row">

                    <!-- PRODUTOS DESKTOP -->
                    <div class="d-none d-md-inline col-md-4 card-produtos mb-2" *ngFor="let produto of produtosExibidos;" (click)="selecionaProduto(produto)">
                        
                        <div class="row">
                            <div class="col-12 p-0 text-center" >
                                <img class="foto" [src]="produto.foto" alt="foto">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 py-1">
                                <p class="nome-produto" >{{produto.nome}}</p>
                            </div>
                        </div>

                        <div class="row align-items-flex-end">
                            <div class="col-12 py-1" *ngIf="!produto.promocao">
                                <p class="preco-produto mb-0">R$ {{produto.preco}}</p>
                                <p class="mb-0">à vista.</p>
                            </div>

                            <div class="col-12 py-1" *ngIf="produto.promocao">
                                <span style="font-size: 12px;">De <span style="color: rgb(255, 70, 101);">R$ {{produto.preco}}</span>, por:</span>
                                <p class="preco-produto mb-0">R$ {{produto.precoPromocao}}</p>
                                <p class="mb-0">à vista.</p>
                                <b>PROMOÇÃO!</b>
                            </div>
                        </div>

                    </div>

                    <!-- PRODUTOS MOBILE -->
                    <div class="container-fluid d-inline d-md-none card-produtos-mobile mb-2" *ngFor="let produto of produtosExibidos;" (click)="selecionaProduto(produto)">

                        <div class="row align-items-center">
                            <div class="col-4 text-center">
                                <img class="foto m-2" [src]="produto.foto" alt="foto">
                            </div>
    
                            <div class="col-8" *ngIf="!produto.promocao">
                                <p class="nome-produto mb-2">{{produto.nome}}</p>
                                <p class="preco-produto">R$ {{produto.preco}}</p>
                            </div>

                            <div class="col-8" *ngIf="produto.promocao">
                                <b>PROMOÇÃO!</b><br>
                                <span style="font-size: 12px;">De <span style="color: rgb(255, 70, 101);">R$ {{produto.preco}}</span>, por:</span>
                                <p class="preco-produto mb-0">R$ {{produto.precoPromocao}}</p>
                                <p class="mb-0">à vista.</p>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>

            </div>

        </div>

    </div>

</div>


<!---Modal Erro Doação--->
<div bsModal #mProduto="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    
    <div class="modal-dialog modal-lg">
        
        <div class="modal-content">

            <div class="modal-header">

                <h3 class="mb-0">produto</h3>

                <button type="button" class="close pull-right btn-close" aria-label="Close" (click)="mProduto.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>

            </div>
        
            <div class="modal-body">

                <h3>{{produtoExibido.nome}}</h3>

            </div>
    
        </div>

    </div>

</div>