

<div class="container">

    <div class="row mb-3">

        <div class="col-12 text-center">
            <h1>PRODUTOS</h1>
        </div>
        
    </div>

    <div class="row">

        <div class="col-3">
            
            <div class="container-fluid filtro-superior">

                <div class="row align-items-center" style="height: 100%;">

                    <div class="col-6">
                        <b style="color: white;">Filtros</b>
                    </div>

                    <div class="col-6 text-right">
                        <b style="color: white;font-size: 13px;text-decoration: underline;cursor: pointer;" (click)="aplicarFiltros()">Aplicar</b>
                    </div>

                </div>

            </div>

            <div class="container-fluid filtro-inferior">

                <form [formGroup]="filtrosForm" >
            
                    <div class="row py-2">
                        <div class="col-12">

                            <span>
                                <input type="radio" id="lancamentos" value="lancamentos" formControlName="tipo" />&nbsp;
                                <a class="filtro-opcao" (click)="filtrarTipo('lancamentos')" for="lancamentos">Lançamentos</a>  <br>
                            </span>

                            <span>
                                <input type="radio" id="promocoes" value="promocoes" formControlName="tipo" />&nbsp;
                                <a class="filtro-opcao" (click)="filtrarTipo('promocoes')">Promoções</a>  <br>
                            </span>

                            <span>
                                <input type="radio" id="pronta-entrega" value="pronta-entrega" formControlName="tipo" />&nbsp;
                                <a class="filtro-opcao" (click)="filtrarTipo('pronta-entrega')">Pronta Entrega</a>  <br> 
                            </span>

                            <span>
                                <input type="radio" id="todos" value="todos" formControlName="tipo" />&nbsp;
                                <a class="filtro-opcao" (click)="filtrarTipo('todos')">Todos Produtos</a>  <br>
                            </span>
                        
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-12">

                            <span *ngFor="let modelo of arrayModelosFiltros">
                                <input type="radio"  [value]="modelo" formControlName="modelo" />&nbsp;
                                <a class="filtro-opcao" (click)="filtrarModelo( modelo )" >{{modelo}}</a><br>
                            </span>

                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-12">

                            <span *ngFor="let cor of arrayCoresFiltros">
                                <input type="radio"  [value]="cor" formControlName="cor" />&nbsp;
                                <a class="filtro-opcao" (click)="filtrarCor( cor )">{{cor}}</a><br>
                            </span>

                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-12">

                            <span *ngFor="let numero of arrayNumerosFiltros">
                                <input type="radio"  [value]="numero" formControlName="numero"/>&nbsp;
                                <a class="filtro-opcao" (click)="filtrarNumero( numero )">{{numero}}</a><br>
                            </span>

                        </div>
                    </div>
                                      
                </form>  

            </div>

            {{filtrosForm.value | json}}

        </div>

        <div class="col-9">

            <div class="container-fluid" >

                <div class="row" >

                    <div class="col-4 py-3 card-fotos text-center" *ngFor="let produto of produtosExibidos;">
                        
                        <img class="foto mb-3" [src]="produto.foto" alt="foto"><br>

                        <b>{{produto.nome}}</b><br>

                        <b>R$ {{produto.preco}}</b><br>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
