

/* PRODUTOS */

.foto {
    width: 95%;
    height: auto;
}

.card-produtos {
    /* background-color: rgb(243, 243, 243); */
    height: 450px;
    cursor: zoom-in;
}

.card-produtos-mobile {
    min-height: 100px;
    cursor: zoom-in;
}

.card-produtos:hover, .card-produtos-mobile:hover {
    outline: solid 0.2px rgb(255, 70, 101);
}

.nome-produto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.preco-produto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    color: rgb(255, 70, 101);
    font-weight: bold;
}



/* BOX DE FILTRO */

.filtro-superior {
    height: 40px;
    background-color: black;
}

.filtro-inferior {
    background-color: rgb(243, 243, 243);
}


/* OPÇÕES DO FILTRO */

.filtro-opcao {
    cursor: pointer;
    color: black;
    text-decoration: none;
}



/* BARRA DE INFORMAÇÕES */

.barra-informações {
    color: black;
    font-size: 14px;
    height: 40px;
}