


<body>
  

  <!-- TOOLBAR SUPERIOR -->

  <div class="container-fluid toolbar-superior" > 
    
    <div class="container" style="height: 100%;">

      <div class="row align-items-center" style="height: 100%;">

        <div class="col-10 mx-auto"> 
          <h3 style="color: white;margin: 0;">LOGO</h3>
        </div>

        <div class="col-1 text-center p-0" (click)="abrirWhatsapp()">
          <fa-icon class="superior-icone" [icon]="faWhatsapp"></fa-icon>
          <p class="superior-legenda">NOSSO WHATSAPP</p>
        </div>

        <div class="col-1 text-center p-0">
          <fa-icon class="superior-icone" [icon]="faInstagram"></fa-icon>
          <p class="superior-legenda">NOSSO INSTAGRAM</p>
        </div>

      </div>

    </div>

  </div>


  <!-- TOOLBAR INFERIOR -->

  <div class="container-fluid toolbar-inferior mb-5">

    <div class="container" style="height: 100%;">

      <div class="row align-items-center" style="height: 100%;">

        <div class="col-1"></div>

        <div class="col-2 mx-auto"> 
          <p class="opcao" (click)="abrirPagina('/produtos')">PRODUTOS</p>
        </div>

        <div class="col-2 mx-auto"> 
          <p class="opcao" (click)="abrirPagina('/produtos')">LANÇAMENTOS</p>
        </div>

        <div class="col-2 mx-auto"> 
          <p class="opcao" (click)="abrirPagina('/produtos')">PROMOÇÕES</p>
        </div>

        <div class="col-2 mx-auto"> 
          <p class="opcao" (click)="abrirPagina('/quemsomos')">QUEM SOMOS</p>
        </div>

        <div class="col-2 mx-auto"> 
          <p class="opcao" (click)="abrirPagina('/comofunciona')">COMO FUNCIONA</p>
        </div>

        <div class="col-1"></div>

      </div>

    </div>

  </div>


  <!-- ADICIONANDO ROTAS -->

  <div>
    
    <router-outlet></router-outlet>

  </div>


</body>