

.toolbar-superior {
    background-color: black;
    height: 100px;
}

.toolbar-inferior {
    background-color: whitesmoke;
    height: 60px;
}


.superior-icone {
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.superior-icone:hover {
    color: rgb(235, 137, 255);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.superior-legenda {
    color: white;
    margin: 0;
    font-size: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.opcao {
    color: black;
    margin: 0;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    text-align: center;
}

.opcao:hover {
    color: rgb(27, 27, 27);
    font-size: 17px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

